/* 
Rogue Roots Photography
Landing Page
   Author: Christopher Parrish
   Date: 01/15/2020 
Typefaces: 
    Display = "Shackleton", Georgia, serif
    Body copy = 
        "Roboto", Arial, sans-serif
Color Pallette: 
    Highlight colors = 
        "Coral Reef" #f37158 
        "Bright Ocean" #0084ae
    Background colors = 
        "Sea Shell" #f3e8d0
        "Black Sand" #191818
*/

body {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: #353535;
}

main {
    display: grid;
    height: 50%;
    grid-template-rows: 6;
}

.parrallax-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 10;
}

.pimg1 {
    background-image: url("https://ik.imagekit.io/roguerootsphoto2019/flower2_N-vBz3EYi.jpg");
    min-height: 100vh;
    min-width: 100vw;
}

.pimg2 {
    background-image: url("https://ik.imagekit.io/roguerootsphoto2019/portrait02_0aD-O3Xta.jpg");
    min-height: 100vh;
    min-width: 100vw;
}

.pimg3 {
    background-image: url("https://ik.imagekit.io/roguerootsphoto2019/sign_ylGe532dn.jpg");
    min-height: 100vh;
    min-width: 100vw;
}

.section {
    text-align: left;
    padding: 2rem 4rem;
    grid-template-rows: fit-content(10%);
}

.section-dark {
    background-color: #191818;
    color: #f3e8d0;
}

.section-light {
    background-color: #f3e8d0;
    color: #191818;
}

#iconDivNature {
    background-image: url("https://ik.imagekit.io/roguerootsphoto2019/natureIcon_zhuT-VxVO.png?tr=w-300");
    background-size: contain;
    position: absolute;
    bottom: 10%;
    height: 20vh;
    width: 20vh;
    border-radius: 40px;
    opacity: .8;
}

#iconDivPortrait {
    background-image: url("https://ik.imagekit.io/roguerootsphoto2019/portraitsIcon__JoVdaY4U.png?tr=w-300");
    background-size: contain;
    position: absolute;
    bottom: 10%;
    height: 20vh;
    width: 20vh;
    border-radius: 40px;
    opacity: .8;
}

#iconDivCity {
    background-image: url("https://ik.imagekit.io/roguerootsphoto2019/cityIcon_PlRYpwf8V.png?tr=w-300");
    background-size: contain;
    position: absolute;
    bottom: 10%;
    height: 20vh;
    width: 20vh;
    border-radius: 40px;
    opacity: .8;
}

#iconDivNature:hover {
    background-image: url("https://ik.imagekit.io/roguerootsphoto2019/natureHov_lmWvcATr6.png?tr=w-300");
    position: absolute;
    bottom: 10%;
    height: 20vh;
    width: 20vh;
    border-radius: 40px;
    opacity: .8;

}

#iconDivPortrait:hover {
    background-image: url("https://ik.imagekit.io/roguerootsphoto2019/portraitHov_4NRzX4bON.png?tr=w-300");
    position: absolute;
    bottom: 10%;
    height: 20vh;
    width: 20vh;
    border-radius: 40px;
    opacity: .8;
}

#iconDivCity:hover {
    background-image: url("https://ik.imagekit.io/roguerootsphoto2019/cityHov_BwyrpLkT7.png?tr=w-300");
    position: absolute;
    bottom: 10%;
    height: 20vh;
    width: 20vh;
    border-radius: 40px;
    opacity: .8;
}

li a {
    display: block;
    height: 100%;
    width: 100%;
}

h2 {
    margin: 0 25px;
}

footer {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    background-color: #191818;
    color: #0084ae;
    font-family: "Shackleton", Arial, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}


@media (max-width: 728px) {

    .pimg1,
    .pimg2,
    .pimg3 {
        background-attachment: scroll;
    }

}