/* RRD stylesheet guide
Typefaces: Display = "Shackleton", Georgia, serif
            Body copy = "Roboto", Arial, sans-serif
   Color Pallette: Highlight colors = "Coral Reef" #f37158 
                                    = "Bright Ocean" #0084ae
                  Background colors = "Sea Shell" #f3e8d0
                                    = "Black Sand" #191818
*/

#dicePage {
    height: 100vh;
    width: 100vw;
    background-color: #191818;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

button {
    position: relative;
    top: 18vh;
    grid-row: 1;
    margin: auto;
    margin-top: 30px;
    background-color: #191818;
    border-radius: 10px;
    text-align: center;
    font-family: "Shackleton", Georgia, serif;
    font-size: 1.5vw;
    color: #0084ae;
    width: 20vw;
    height: 5vw;
}


#diceBox {
    position: relative;
    top: -20vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
}

p {
    grid-row: 2;
    font-size: 2vw;
    font-family: "Roboto", Arial, sans-serif;
    color: #0084ae;
}


#player1 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    grid-row: 1;
}

#p1DiceBox {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    grid-column: 1;
    grid-row: 2;
}

#player1Dice {
    width: 200px;
}

#player2 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    grid-row: 1;
}

#player2Dice {
    width: 200px;
}

#p2DiceBox {
    display: flex;
    flex-direction: column;
    justify-content: st;
    align-items: center;
    grid-column: 2;
    grid-row: 2;
}

footer {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    background-color: #191818;
    color: #0084ae;
    font-family: "Shackleton", Arial, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}