/* 
Rogue Roots Photography
Landing Page
   Author: Christopher Parrish
   Date: 01/15/2020 
Typefaces: 
    Display = "Shackleton", Georgia, serif
    Body copy = 
        "Roboto", Arial, sans-serif
Color Pallette: 
    Highlight colors = 
        "Coral Reef" #f37158 
        "Bright Ocean" #0084ae
    Background colors = 
        "Sea Shell" #f3e8d0
        "Black Sand" #191818
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: block;
}

header {
    text-align: center;
    width: 100%;
    padding: 2rem 4rem;
}

#pageDiv {
    background-color: #191818;
}

h2 {
    color: #f3e8d0;
    font-size: 3vw;
    font-family: "Shackleton", Georgia, serif;
}

/****** General gallery Styles ******/
.gallery {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: min-content 1fr;
    grid-gap: 1.5vw;
    padding: 0 30px 30px 30px;
}

.galleryImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.galleryImage:hover {
    opacity: 0.7;
}

/****** Gallery Grid Styling  */
.galleryItem1 {
    grid-area: 1/1/10/4;
}

.galleryItem2 {
    grid-area: 1/4/7/7;
}

.galleryItem3 {
    grid-area: 1/7/10/10;
}

.galleryItem4 {
    grid-area: 10/1/16/4;
}

.galleryItem5 {
    grid-area: 7/4/16/7;
}

.galleryItem6 {
    grid-area: 10/7/16/10;
}

.galleryItem7 {
    grid-area: 16/1/25/4;
}

.galleryItem8 {
    grid-area: 16/4/22/7;
}

.galleryItem9 {
    grid-area: 16/7/25/10;
}

.galleryItem10 {
    grid-area: 25/1/31/4;
}

.galleryItem11 {
    grid-area: 22/4/31/7;
}

.galleryItem12 {
    grid-area: 25/7/31/10;
}

/***** Modal Styling *****/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}



.modalContent {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
    padding-top: 100px;
}

.modalContent,
#caption {
    animation-name: zoom;
    animation-duration: 0.6;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    ;

    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: 100px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/****** Footer Styling ******/
footer {
    display: block;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    background-color: #0f0f0f;
    color: #0084ae;
    font-family: "Shackleton", Arial, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}

@media only screen and (max-width: 728px) {

    .modal-content {
        width: 100%;
    }

    header {
        padding: 1rem 2rem;
    }

    p {
        font-size: 5vw;
    }
}