/* RRD stylesheet guide
Typefaces: Display = "Shackleton", Georgia, serif
            Body copy = "Roboto", Arial, sans-serif
   Color Pallette: Highlight colors = "Coral Reef" #f37158 
                                    = "Bright Ocean" #0084ae
                  Background colors = "Sea Shell" #f3e8d0
                                    = "Black Sand" #191818
*/
@charset "utf-8";

footer {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    background-color: #191818;
    color: #0084ae;
    font-family: "Shackleton", Arial, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}