/* RRD stylesheet guide
Typefaces: Display = "Shackleton", Georgia, serif
            Body copy = "Roboto", Arial, sans-serif
   Color Pallette: Highlight colors = "Coral Reef" #f37158 
                                    = "Bright Ocean" #0084ae
                  Background colors = "Sea Shell" #f3e8d0
                                    = "Black Sand" #191818
*/
@charset "utf-8";

/* Base Styles */

* {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    box-sizing: inherit;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    border: rgba(0, 0, 0, 0) solid 0.1px;
    background-color: #f3e8d0;
    position: relative;
    display: block;
    width: 100vw;
    font-family: "Roboto", Arial, sans-serif;
}

/* Logo Styles */

.logoflexbox {
    z-index: -1;
    background-color: #191818;
    display: flex;
    flex-direction: column;
    height: 250px;
    align-items: center;
    justify-content: center;
}

.heroLogo {
    box-sizing: border-box;
    height: 200px;
    overflow: hidden;
    object-fit: cover;
}

.flexname {
    padding-top: 6px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flexname h1 {
    padding: 0 4px;
    font-size: 1.6rem;
    font-family: "shackleton", Georgia, serif;

}

#rogue {
    color: #0084ae;
}

#roots {
    color: #0084ae;
}

#design {
    color: #0084ae;
}

/* site navigation */

ul>li>nav {
    list-style-type: none;
    text-decoration: none;
}

nav {
    font-weight: bold;
    font-size: 1.5rem;
    position: relative;
    top: 0;
    box-sizing: border-box;
    background-color: #0084ae;
}

nav a {
    border-top: 2px solid #191818;
    min-width: 25%;
    display: block;
    color: #191818;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Shackleton";
    text-transform: uppercase;
    transition: .3s ease-in-out;
}

nav li a:hover {
    color: #f37158;
    background-color: #f3e8d0;
}

nav li a:active {
    background-color: #f3e8d0;
}

/* Mobile navigation styles */

#navbar ul {
    display: none;
}

a#navIcon:hover+ul {
    transition: 10s ease;
}

a#navIcon:hover+ul,
#navbar ul:hover {
    display: block;
}

#navIcon {
    display: block;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#navIcon img {
    height: 40px;

}

.navlogo {
    display: none;
}

/* structural styles */

#pageDiv {
    padding-top: 0;
}

#assignmentsHeader {
    color: #191818;
    font-family: "roboto", Arial, sans-serif;
    font-weight: bold;
}

.sloganflexbox {
    padding-top: 15px;
}

.slogan {
    text-align: center;
    font-size: 2rem;
    color: #191818;
    font-family: "Shackleton", Georgia, serif;
    padding: 10px 0px 0px 0px;
    margin: 0;
}

h2 {
    padding-top: 15px;
    text-align: center;
    font-weight: normal;
    font-size: 1.3rem;
}

.pflexbox {
    padding: 20px 0 40px 0;
    max-width: 70%;
    margin: auto;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
}

.pflexbox p {
    flex-basis: 1;
    position: relative;
    display: block;
    padding-top: 10px;
    font-size: 1rem;
}

#lastLine {
    font-weight: bold;
    text-align: center;
}

footer {
    display: block;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    background-color: #191818;
    color: #0084ae;
    font-family: "Shackleton", Arial, sans-serif;
    font-size: 0.6em;
    font-weight: bold;
}

.photoContainer {
    display: block;
}

.panel {
    display: block;
    min-height: 300px;
    background-size: cover;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}

.panel p {
    padding-top: 40px;
    font-size: 30px;
    color: ivory;
    font-family: 'Shackleton', Arial, Helvetica, sans-serif;
    text-shadow: 0 0 6px rgba(0, 0, 0, 1);
}

.panel p:nth-child(2) {
    font-size: 4em;
    grid-row: 2;
}

.clock {
    display: none;
}

/*
div {
    border: 1px solid red
}
*/

@media (min-width: 700px) {
    * {
        font-size: 1em;
    }

    .logoflexbox {
        flex-direction: row;
    }

    .heroLogo {
        margin: 0 30px 0 30px;
    }

    .flexname h1 {
        padding: 0 10px;
        font-size: 3.6em;
    }

    .sloganflexbox {
        padding-top: 25px;
    }

    /* Desktop Navigationn  */
    nav {
        width: 100%;
        top: 0;
        position: relative;
        z-index: 1;
    }

    #navIcon {
        display: none;
    }

    #navbar ul {
        display: block;
    }

    nav li {
        transition: all 0.5s;
        width: 25%;
    }

    .navbutton {
        float: left;
    }

    nav a {
        border: none;
        font-size: 1rem;
    }

    nav::after {
        content: "";
        clear: both;
        display: table;
    }

    /* sticky nav mechanics */

    .navlogo {
        float: left;
        display: block;
    }

    li.navlogo {
        max-width: 0;
        overflow: hidden;
        background: #f37158;
        transition: all 0.5s;
    }

    li.navlogo a {
        font-weight: bold;
        font-family: Shackleton, Georgia, serif;
        color: #191818;
    }

    .fixed-nav li.navlogo {
        max-width: 20%;
    }

    .fixed-nav nav {
        position: fixed;
        top: 0;
        float: left;
        box-shadow: 0 5px rgba(0, 0, 0, 0.1);
    }

    .fixed-nav nav li {
        width: 20%;
    }

    .fixed-nav #pageDiv {
        transform: scale(1);
    }

    /****************************************************clock styles***************************************************/

    .clock {
        display: flex;
        position: relative;
        background-color: #191818;
        min-width: 5rem;
        height: 5rem;
        border: 5px solid #0084ae;
        border-radius: 50%;
        margin: 0 30px 0 30px;
    }

    .hand {
        width: 50%;
        height: 2.5px;
        background: #f37158;
        position: absolute;
        top: 49%;
        transform-origin: 100%;
        transform: rotate(90deg);
        transition-timing-function: cubic-bezier(.06, 3.62, .58, 1);
        border-radius: 4px;
    }

    /* ************************************Photo Panel styles******************************************** */


    html {
        box-sizing: border-box;
    }

    body {
        margin: 0;
    }

    .photoContainer {
        display: flex;
        min-height: 100vh;
        overflow: hidden;
    }

    .panel {
        transform: translateY(100%);
        text-align: center;
        align-items: center;
        background-position: center;
        background-size: cover;
        display: flex;
        flex: 1;
        justify-content: center;
        display: grid;
        grid-template-rows: 1fr 10% 1fr;
        transition:
            font-size 0.7s cubic-bezier(.72, .19, .28, .84),
            flex 0.7s cubic-bezier(.72, .19, .28, .84),
            background 0.2s;
    }

    #panel1 {
        animation-duration: 1.5s;
        animation-name: flyIn;
        animation-fill-mode: forwards;
        background-image: url(https://ik.imagekit.io/roguerootsphoto2019/RRD/leon-liu-_0aOFIW34rw-unsplash_Gp3_K3OJU.jpg);
    }

    #panel2 {
        animation-duration: 1.5s;
        animation-name: flyIn;
        animation-fill-mode: forwards;
        animation-delay: 1.5s;
        background-image: url(https://ik.imagekit.io/roguerootsphoto2019/RRD/christopher-rusev-GBrCF5QVJhw-unsplash_qNqDNLIq8.jpg);
    }

    #panel3 {
        animation-duration: 1.5s;
        animation-name: flyIn;
        animation-fill-mode: forwards;
        animation-delay: 3s;
        background-image: url(https://ik.imagekit.io/roguerootsphoto2019/RRD/arina-wong-GNE9bfYY1hw-unsplash_XUWcwsj_X.jpg);
    }

    @keyframes flyIn {
        from {
            transform: translateY(100%);
        }

        to {
            transform: translateY(0);
        }
    }

    .text {
        display: none;
        transform: translateY(1000%);
        transition: 2s linear;
    }

    .text.show {
        display: block;
        transform: translate(0);
    }

    .panel p {
        font-size: 50px;
        color: ivory;
        font-family: 'Shackleton', Arial, Helvetica, sans-serif;
        text-shadow: 0 0 6px rgba(0, 0, 0, 1);
    }

    #coffeeText {
        font-size: 30px;
    }

    .panel p:nth-child(2) {
        font-size: 4em;
        grid-row: 2;
    }

    /*
    .panel>*:last-child {
        transform: translateY(1000%);
    }

    .panel.open>*:last-child {
        transform: translate(0);
    }

    .panel>*:first-child {
        transform: translateY(-1000%);
    }

    .panel.open>*:first-child {
        transform: translateY(0);
    }
*/
    .panel.open {
        flex: 5;
        font-size: 30px;

    }

    .panel>* {
        margin: 0;
        width: 100%;
        transition: transform 0.5s;
        flex: 1 0 auto;
        justify-content: center;
        align-items: center;
    }

    footer {
        font-size: 0.8em;
    }

}